.message {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

.imageAndText img {
    border-radius: 48px;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.text {
    background-color: #06C;
    border-radius: 5px;
    padding: 7px 13px;
    word-wrap: break-word;
}

.text:after {

}

.name {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-align: end;
}

.messageText {
    color: #FFF;
    white-space: pre-wrap;
    text-align: end;
    max-width: 100%;
    margin-bottom: 0;
    position: relative;
}

.messageText::after {
    content: '';
    position: absolute;
    bottom: -7px;
    right: -27px;
    border-bottom: 20px solid #06C;
    border-right: 20px solid transparent;
}

.time {
    color: #000;
    font-size: 10px;
    font-weight: 600;
    text-align: end;
    padding: 0 11px
}