.button {
    color: white;
    padding: 5px 20px;
    cursor: pointer;

    text-transform: capitalize;
    border: none;
    border-radius: 3px;
}


.disabled {
    opacity: 50%;
    cursor: not-allowed;
    background-color: rgba(0, 77, 153, 1);
}

.default {
    background-color: rgba(0, 102, 204, 1);
}

.secondary {
    color: #0428c4;
    background-color: #fff;
    border: 1px solid #0428c4;
    font-weight: 600;
}


.red {
    background-color: rgba(204, 20, 57, 1);
}

.default:hover {
    background-color: rgba(0, 128, 255, 1);
}


.red:hover {
    background-color: rgba(255, 26, 71, 1);
}

.secondary:hover {
    background-color: rgba(229, 240, 250, 1);
}


.default:active {
    background-color: rgba(0, 89, 178, 1);
}

.secondary:active {
    background-color: rgba(201, 229, 255, 1);
}

.red:active {
    background-color: rgba(178, 18, 50, 1);
}

.button:disabled {
}
